h2{
    margin-bottom: 1em;
}

aside{
    padding-bottom:5em;
}

ul{
    list-style-type: none;
}

input#btnSubmitFitCalc{
    display:block;
}

input[type='number']{
    padding-left: 2px;
}

input#btnSubmitNumMM{
    margin-bottom: 16px;
    margin-top: 16px;
}

input.bmi{
    border: black thin solid;
    width:3rem;
}

label.radio-btn-male{
    display: block;
}

div.bmi-btns-row{
    margin-top: 1rem;
}

label.bmi-ft-lbl{
    margin-right:0.95rem;
}

#bmiResults{
    margin-top: 15px;
}