h2{
    margin-bottom: 1em;
}

aside{
    padding-bottom:5em;
}
input#btnSubmitFitCalc{
    display:block;
}

input#btnSubmitNumMM{
    margin-bottom: 1em;
}

label.radio-btn-male{
    display: block;
}