table{
    margin-bottom: 1em;
    width: -webkit-fill-available;
    border-collapse: separate;
}

input[type = "text"]{
    display: block;
    width: 100%;;
}

td {
    padding-right: 10%;
    padding-bottom: 2%;
    width: 33.3333333%;
}

h2#horoscope-heading2 {
    margin-bottom: 2%;
}

#btn-submit-horoscope{
    margin-top:1rem;
}

/*iPhone6 Plus*/
@media (max-width: 415px) {
    div.jumbotron{
        padding:0;
        padding-top:5rem;
        padding-bottom:2rem;
    }
}
/*/////////////////////////*/



