label{
    display: inline;
}

input[type="password"]{
    display: inline;
}

#passwordResetForm input[type="password"]{
    margin-bottom: 15px;
}

#passwordResetForm input[type="submit"]{
    display:block;
    margin-top: 15px;
}

.invalid-feedback{
    margin-bottom: 15px;
    margin-top: -15px;
}