form.img-card{
    display: contents;
}

em.photo-limit{
    display: block;
    margin-top:2%;
}

select#optionChoice {
    margin-bottom: 1em;
}

div.container{
    margin-top:4em;
}

div.carousel-item img{
    min-height: 750px;
    min-width: 1100px;
    max-height: 840px;
    max-width: 1150px;
}

form div.card{
    height: 97%;
}

div#captionDiv {
    margin-top: 1em;
    padding: 0;
}

#userfile{
    padding-top:0;
}

/*iPad*/
@media (max-width: 769px) {
    div.jumbotron{
        padding-top:1rem
    }

    div.carousel-item img {
        max-height: 1024px;
        max-width: 768px;
        min-height: auto;
        min-width: auto;
    }
  }
/*/////////////////////////*/

/*iPhone6 Plus*/
@media (max-width: 415px) {
    div.jumbotron{
        padding-top:1rem
    }

    div.carousel-item img {
        max-height: 715px;
        max-width: 414px;
        min-height: auto;
        min-width: auto;
    }
  }
  /*/////////////////////////*/


  /*iPhone6*/
  @media (max-width: 376px) {
    div.jumbotron{
        padding-top:1rem
    }

    div.carousel-item img {
        max-height: 650px;
        max-width: 375px;
        min-height: auto;
        min-width: auto;
    }
  }
  /*/////////////////////////*/