form.img-card {
    display: contents;
}

em.photo-limit {
    display: block;
    margin-top: 2%;
}

select#optionChoice {
    margin-bottom: 1em;
}

div.carousel-item img {
    min-height: 750px;
    min-width: 1100px;
    max-height: 840px;
    max-width: 1150px;
}

form div.card {
    height: 97%;
}

div#captionDiv {
    margin-top: 1em;
    padding: 0;
}

#userfile {
    padding-top: 0;
}

/*4K Descktop*/

@media (max-width: 2560px) {
    input#caption {
        width: 53.1rem;
    }
}

/*/////////////////////////*/

/*HD Descktop*/

@media (max-width: 1920px) {
    input#caption {
        width: 64.4rem;
    }
}

/*/////////////////////////*/

/*iPad Pro*/

@media (max-width: 1024px) {
    input#caption {
        width: 53.1rem;
    }
}

/*/////////////////////////*/

/*iPad*/
@media (max-width: 769px) {
    input#caption {
        width: 38.1rem;
    }

    div.carousel-item img {
        max-height: 1024px;
        max-width: 768px;
        min-height: auto;
        min-width: auto;
    }
}

/*/////////////////////////*/

/*iPhone6 Plus*/
@media (max-width: 415px) {
    main{
        position: relative;
        top: 3.53rem;
    }

    input#caption {
        width: 23.8rem;
    }

    div.carousel-item img {
        max-height: 715px;
        max-width: 414px;
        min-height: auto;
        min-width: auto;
    }
}

/*/////////////////////////*/

/*Pixel 2*/

@media (max-width: 411px) {
    main{
        position: relative;
        top: 3.53rem;
    }

    input#caption {
        width: 23.8rem;
    }
}

/*/////////////////////////*/

/*iPhone6*/
@media (max-width: 376px) {
    main{
        position: relative;
        top: 3.53rem;
    }

    input#caption {
        width: 21.6rem;
    }

    div.carousel-item img {
        max-height: 650px;
        max-width: 375px;
        min-height: auto;
        min-width: auto;
    }
}

/*/////////////////////////*/

/*Galaxy S5*/

@media (max-width: 360px) {
    main{
        position: relative;
        top: 3.53rem;
    }
    input#caption {
        width: 20.6rem;
    }
}

/*/////////////////////////*/

/*iPhone 5/SE*/

@media (max-width: 320px) {
    main{
        position: relative;
        top: 3.53rem;
    }
    input#caption {
        width: 18.1rem;
    }
}

/*/////////////////////////*/