p.run-time {
    margin-top: 1rem;
}

.row {
    margin-bottom: 10px;
}

.btn-primary {
    margin-left: 3.2rem;
    margin-bottom: 1rem;
}

label.run-seconds {
    margin-top: 1rem;
}

main {
    position: relative;
    top: 3.5rem;
}

/* Edge Browser styles begin */

@supports (-ms-ime-align: auto) {
}

/* Edge Browser styles end */

/* Firefox Browser styles begin */

@-moz-document url-prefix() {
}

/* Firefox Browser styles end */

/*iPad Pro*/

@media (max-width: 1024px) {
    main {
        position: relative;
        top: 3.5rem;
    }

    h2 {
        font-size: 1.4rem;
    }

    .btn-primary {
        margin-left: 54px;
    }
}

/*/////////////////////////*/

/*iPad*/

@media (max-width: 769px) {
    main {
        position: relative;
        top: 3.5rem;
    }

    h2 {
        font-size: 1.4rem;
    }

    .btn-primary {
        margin-left: 54px;
    }
}

/*/////////////////////////*/

/*iPhone6 Plus*/

@media (max-width: 415px) {
    main {
        position: relative;
        top: 3.5rem;
    }

    .btn-primary {
        margin-left: 54px;
    }
}

/*/////////////////////////*/

/*Pixel 2*/

@media (max-width: 411px) {
    main {
        position: relative;
        top: 3.5rem;
    }

    .btn-primary {
        margin-left: 54px;
    }
}

/*/////////////////////////*/

/*iPhone6*/

@media (max-width: 376px) {
    main {
        position: relative;
        top: 3.5rem;
    }

    .btn-primary {
        margin-left: 54px;
    }
}

/*/////////////////////////*/

/*Galaxy S5*/
@media (max-width: 360px) {
    main {
        position: relative;
        top: 3.5rem;
    }

    .btn-primary {
        margin-left: 54px;
    }
}

/*/////////////////////////*/

/*iPhone 5/SE*/

@media (max-width: 320px) {
    h2 {
        font-size: 1.1rem;
    }

    main {
        position: relative;
        top: 3.5rem;
    }

    div[class^="col"] {
        padding: 0;
    }

    .btn-primary {
        margin-left: 40px;
        margin-bottom: 1rem;
    }
}

/*/////////////////////////*/