li {
    list-style-type: none;
}

button.btn-new-item, button.btn-new-item:focus, button.btn-new-item:hover {
    font-weight: bolder;
    text-decoration: none;
    font-size: 1em;
}

button#btnNewItemBack {
    font-size: 1em;
}

ul.shopping-categories {
    list-style-type: none;
}

span.btn-txt {
    font-size: 1em;
}

span.btn-symbol {
    font-size: 2em;
}

button[id^="btnNewItemBack"] span.btn-symbol, button#btnNewCategoryBack span.btn-symbol {
    font-size: 1em;
}

button[id^="btnNewItem"] {
    line-height: 1rem;
    padding-left: 0;
    text-align: left;
}

span.new-item.btn-txt {
    font-size: 0.5em;
}

h2 button.btn.btn-link.btn-new-item.btn-symbol {
    font-size: 1em;
    display: block;
}

.no-display {
    display: none!important;
}

.form-control.new-category {
    width: 70%;
    display: inline;
}

.deleted {
    text-decoration: line-through;
}

.custom-control-input:checked~.custom-control-label::before {
    border-color: #6c757d!important;
    background-color: #6c757d!important;
}

.custom-control-label::before {
    top: 0.7rem;
}

.custom-control-label::after {
    top: .7rem;
}

ul.shopping-items .custom-control-label::before {
    top: 0.25rem;
}

ul.shopping-items .custom-control-label::after {
    top: .25rem;
}

.btn-danger{
    position: relative;
    bottom: 0.1rem;
}

ul.shopping-items .btn-danger{
    position: relative;
    bottom: 0.45rem;
    margin-bottom: .1rem;
}

.btn-success {
    margin-bottom: 0.3rem;
}

/* Edge Browser styles begin */

@supports (-ms-ime-align: auto) {}

/* Edge Browser styles end */

/* Firefox Browser styles begin */

@-moz-document url-prefix() {}

/* Firefox Browser styles end */

/*iPad*/

@media (max-width: 769px) {}

/*/////////////////////////*/

/*iPhone6 Plus*/

@media (max-width: 415px) {}

/*/////////////////////////*/

/*Pixel 2*/

@media (max-width: 411px) {
    button[id^="btnNewItem"] {
        line-height: 1rem;
    }
}

/*/////////////////////////*/

/*iPhone6*/

@media (max-width: 376px) {}

/*/////////////////////////*/

/*Galaxy S5*/

@media (max-width: 360px) {
    button[id^="btnNewItem"] {
        line-height: 1rem;
    }
}

/*/////////////////////////*/

/*iPhone 5/SE*/

@media (max-width: 320px) {
    ul.shopping-categories {
        list-style-type: none;
        padding-left: 5px;
    }
}

/*/////////////////////////*/