html, body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
  width: 100%;
}

main {
  width: 100%;
}

img {
  width: 100%;
  max-height: 465px;
}

div.login.container {
  margin-top: 1em;
}

.form-signin {
  width: 100%;
  max-width: 830px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

span.forgot-pw {
  display: block;
}

span.forgot-pw a {
  display: inline;
}

/* .box.flex {
  display: flex;
  justify-content: center;
} */

/* Edge Browser styles begin */

@supports (-ms-ime-align: auto) {
  img {
    max-height: 395px;
    width: 100%;
  }
  div.login.container {
    margin-top: -4em;
    height: auto;
    max-height: 680px;
    margin-bottom: 1em;
  }
}

/* Edge Browser styles end */

/* Firefox Browser styles begin */

@-moz-document url-prefix() {
    img {
      max-height: 395px;
      width: 100%;
    }
    div.login.container {
      margin-top: -4em;
      height: auto;
      max-height: 680px;
      margin-bottom: 1em;
    }
}

/* Firefox Browser styles end */

/*iPhone 5/SE*/

@media (max-width: 320px) {
  div.login.container {
    margin-top: 5em;
  }
}

/*/////////////////////////*/