tbody .form-control {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #343a40!important;
    background: none;
    border: none;
}

th.col-checkbox{
    width:2rem;
}

th.col-priority{
    width:8.28rem;
}

th.col-status{
    width:9.38rem;
}

th.col-percent{
    width:7rem;
}

th.col-due-date{
    width: 8.15rem;
}

textarea{
    height: auto;
}