tbody .form-control {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #343a40!important;
    background: none;
    border: none;
}

th.col-checkbox {
    width: 2rem;
}

th.col-priority {
    width: 8.28rem;
}

th.col-status {
    width: 9.38rem;
}

th.col-percent {
    width: 7rem;
}

th.col-due-date {
    width: 8.15rem;
}

#btnNewTask {
    position: relative;
    top: 3rem;
}

#divChanges {
    position: relative;
    top: 3rem;
}

div#todoContainer.container {
    padding-bottom: 1rem;
}

table th button {
    background: none;
    border: none;
    color: #fff;
    font-weight: bold;
    /* background-image: url(/css/vendor/open-iconic-master/svg/sort-ascending.svg);
    background-size:1rem;
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 1.2rem;
    fill:#fff; */
}

table img{
    color: white;
    background-color: white;
}

table button:active, table button:hover {
	text-decoration: underline;
}

/* Edge Browser styles begin */

@supports (-ms-ime-align: auto) {}

/* Edge Browser styles end */

/* Firefox Browser styles begin */

@-moz-document url-prefix() {}

/* Firefox Browser styles end */

/*iPad Pro*/

@media (max-width: 1024px) {
    html {
        font-size: 10px;
    }
    tbody .form-control {
        padding: 0;
    }
    .table td, .table th {
        padding-left: 0;
        padding-right: 0;
    }
    .bootstrap-table .fixed-table-container .table thead th .th-inner {
        padding-left: 0;
        padding-right: 0;
    }
    .bootstrap-table .fixed-table-container .table input[type=radio], .bootstrap-table .fixed-table-container .table input[type=checkbox] {
        height: 1rem;
        width: 1rem;
    }
    th.col-checkbox {
        width: 1rem;
    }
    th.col-due-date {
        width: 4rem;
    }
    th.col-task-title {
        width: 25rem;
    }
    th.col-priority {
        width: 6.2rem;
    }
    th.col-status {
        width: 7.9rem;
    }
    th.col-percent {
        width: 0.5rem;
    }
    th.col-notes {
        width: 25rem;
    }
}

/*/////////////////////////*/

/*iPad*/

@media (max-width: 769px) {
    html {
        font-size: 10px;
    }
    tbody .form-control {
        padding: 0;
    }
    .table td, .table th {
        padding-left: 0;
        padding-right: 0;
    }
    .bootstrap-table .fixed-table-container .table thead th .th-inner {
        padding-left: 0;
        padding-right: 0;
    }
    .bootstrap-table .fixed-table-container .table input[type=radio], .bootstrap-table .fixed-table-container .table input[type=checkbox] {
        height: 1rem;
        width: 1rem;
    }
    th.col-checkbox {
        width: 1rem;
    }
    th.col-due-date {
        width: 4rem;
    }
    th.col-task-title {
        width: 25rem;
    }
    th.col-priority {
        width: 6.2rem;
    }
    th.col-status {
        width: 7.9rem;
    }
    th.col-percent {
        width: 0.5rem;
    }
    th.col-notes {
        width: 25rem;
    }
}

/*/////////////////////////*/

/*iPhone6 Plus*/

@media (max-width: 415px) {
    html {
        font-size: 10px;
    }
    tbody .form-control {
        padding: 0;
    }
    .table td, .table th {
        padding-left: 0;
        padding-right: 0;
    }
    .bootstrap-table .fixed-table-container .table thead th .th-inner {
        padding-left: 0;
        padding-right: 0;
    }
    .bootstrap-table .fixed-table-container .table input[type=radio], .bootstrap-table .fixed-table-container .table input[type=checkbox] {
        height: 1rem;
        width: 1rem;
    }
    th.col-checkbox {
        width: 1rem;
    }
    th.col-due-date {
        width: 7.5rem;
    }
    th.col-task-title {
        width: 25rem;
    }
    th.col-priority {
        width: 6rem;
    }
    th.col-status {
        width: 15.9rem;
    }
    th.col-percent {
        width: 0.5rem;
    }
    th.col-notes {
        width: 25rem;
    }
}

/*/////////////////////////*/

/*Pixel 2*/

@media (max-width: 411px) {
    th.col-due-date {
        width: 8rem;
    }
    th.col-status {
        width: 16.7rem;
    }
}

/*/////////////////////////*/

/*iPhone6*/

@media (max-width: 376px) {
    th.col-due-date {
        width: 8.3rem;
    }
}

/*/////////////////////////*/

/*Galaxy S5*/

@media (max-width: 360px) {
    th.col-due-date {
        width: 9rem;
    }
}

/*/////////////////////////*/

/*iPhone 5/SE*/

@media (max-width: 320px) {
    html {
        font-size: 10px;
    }
    tbody .form-control {
        padding: 0;
    }
    .table td, .table th {
        padding-left: 0;
        padding-right: 0;
    }
    .bootstrap-table .fixed-table-container .table thead th .th-inner {
        padding-left: 0;
        padding-right: 0;
    }
    .bootstrap-table .fixed-table-container .table input[type=radio], .bootstrap-table .fixed-table-container .table input[type=checkbox] {
        height: 1rem;
        width: 1rem;
    }
    th.col-checkbox {
        width: 1rem;
    }
    th.col-due-date {
        width: 11.5rem;
    }
    th.col-task-title {
        width: 25rem;
    }
    th.col-priority {
        width: 6rem;
    }
    th.col-status {
        width: 9.38rem;
    }
    th.col-percent {
        width: 0.5rem;
    }
    th.col-notes {
        width: 25rem;
    }
}

/*/////////////////////////*/